In [1]:
import numpy as np
import pandas as pd
from setting import *
import gc

gc.enable()

second_order_ratio = lambda x: x[x==1].count()/x[x==0].count()

In [2]:
priors = pd.read_csv(data + 'order_products__prior.csv', dtype={
            'order_id': np.int32,
            'product_id': np.uint16,
            'add_to_cart_order': np.int16,
            'reordered': np.int8}, usecols = ['order_id', 'product_id', 'reordered'], engine='c')

orders = pd.read_csv(data + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32}, usecols = ['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow', 'order_hour_of_day'], engine='c')

product = pd.merge(priors, orders, on='order_id').sort_values(by=['user_id', 'order_number', 'product_id']).reset_index(drop=True)
product.drop('eval_set', axis=1, inplace=True)

In [4]:
t3 = product[['user_id', 'order_hour_of_day', 'order_id']][product.reordered==1].\
groupby(by=['user_id', 'order_hour_of_day'])['order_id'].\
agg({'user_hour_count': 'count'}).reset_index()
t31 = product[['user_id', 'order_hour_of_day', 'order_id']][product.reordered==1].\
groupby(by=['user_id'])['order_id'].\
agg({'user_count': 'count'}).reset_index()
t3 = t3.merge(t31, on='user_id')
t3['hour_user_reorder_prob'] = (t3.user_hour_count+1)/(t3.user_count+24)
t3.drop(['user_hour_count', 'user_count'], axis=1, inplace=True)

In [6]:
product_detail = pd.read_csv(data+"products.csv", dtype = {
    'product_id': np.uint16,
    'product_name': str,
    'aisle_id': np.uint8,
    'department_id': np.uint8
}, usecols = ['product_id', 'aisle_id', 'department_id'])

priors = pd.read_csv(data + 'order_products__prior.csv', dtype={
            'order_id': np.int32,
            'product_id': np.uint16,
            'add_to_cart_order': np.int16,
            'reordered': np.int8}, usecols = ['order_id', 'product_id', 'reordered'], engine='c')

orders = pd.read_csv(data + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32}, usecols = ['order_id', 'user_id', 'eval_set', 'order_number'], engine='c')

product = pd.merge(priors, orders, on='order_id').sort_values(by=['user_id', 'order_number', 'product_id']).reset_index(drop=True)
product.drop('eval_set', axis=1, inplace=True)

In [7]:
d = pd.merge(product_detail, product[['product_id', 'user_id', 'order_id']][product.reordered==1], on='product_id')

d2 = d[['user_id', 'order_id']].groupby(by='user_id')['order_id'].agg({'user_rorder_cnt': 'count'}).reset_index()
d21 = d[['user_id', 'aisle_id', 'order_id']].groupby(by=['user_id', 'aisle_id'])['order_id'].agg({'aisle_count': 'count'}).reset_index()
d22 = d[['user_id', 'department_id', 'order_id']].groupby(by=['user_id', 'department_id'])['order_id'].agg({'department_count': 'count'}).reset_index()
d2 = d2.merge(d21, on='user_id').merge(d22, on='user_id')
d2['aisle_user_reorder_prob'] = d2.aisle_count/d2.user_rorder_cnt
d2['department_user_reorder_prob'] = d2.department_count/d2.user_rorder_cnt
d2.drop(['user_rorder_cnt', 'aisle_count', 'department_count'], axis=1, inplace=True)

In [9]:
d21

         user_id  aisle_id  aisle_count
0              1        21            7
1              1        23           10
2              1        24            1
3              1        53            1
4              1        54            1
5              1        77           11
6              1       117            8
7              1       121            2
8              2        21            2
9              2        23            8
10             2        24           19
11             2        31            2
12             2        38            2
13             2        42            3
14             2        66            1
15             2        67            4
16             2        72            4
17             2        78            5
18             2        96            5
19             2       107            8
20             2       115            1
21             2       120           28
22             2       123            1
23             3         4            3
24             3        13            1
25             3        21            2
26             3        24           14
27             3        37            2
28             3        52            1
29             3        78            4
...          ...       ...          ...
2836658   206208       106            8
2836659   206208       107            9
2836660   206208       108            2
2836661   206208       112           50
2836662   206208       116           13
2836663   206208       120           28
2836664   206208       121           10
2836665   206208       123           59
2836666   206208       128            6
2836667   206208       130            1
2836668   206208       131            1
2836669   206209         9            1
2836670   206209        21            2
2836671   206209        24            9
2836672   206209        51            3
2836673   206209        59            1
2836674   206209        67            2
2836675   206209        74            1
2836676   206209        75            5
2836677   206209        77            9
2836678   206209        78            2
2836679   206209        81            2
2836680   206209        84            3
2836681   206209        86            1
2836682   206209        91            8
2836683   206209       108            1
2836684   206209       112            6
2836685   206209       121            2
2836686   206209       123            2
2836687   206209       130            1

[2836688 rows x 3 columns]

In [11]:
d22

         user_id  department_id  department_count
0              1              4                 1
1              1              7                11
2              1             14                 2
3              1             16                 8
4              1             17                 1
5              1             19                18
6              2              1                 5
7              2              4                20
8              2              6                 1
9              2              7                 3
10             2             13                 4
11             2             16                30
12             2             19                21
13             2             20                 9
14             3              1                 3
15             3              4                26
16             3              7                 1
17             3              9                 3
18             3             13                 2
19             3             16                15
20             3             19                 4
21             3             20                 1
22             4              1                 1
23             5              4                 9
24             5              6                 1
25             5             16                 4
26             6              4                 1
27             6             12                 1
28             7              1                 2
29             7              3                 4
...          ...            ...               ...
1405929   206207             15                 7
1405930   206207             16                36
1405931   206207             19                13
1405932   206207             20                 5
1405933   206208              1                15
1405934   206208              3                56
1405935   206208              4               148
1405936   206208              7                11
1405937   206208              9                 8
1405938   206208             11                 2
1405939   206208             12                15
1405940   206208             13                 7
1405941   206208             14                11
1405942   206208             15                 4
1405943   206208             16               133
1405944   206208             17                 1
1405945   206208             18                 2
1405946   206208             19                44
1405947   206208             20                22
1405948   206209              3                 6
1405949   206209              4                11
1405950   206209              7                 9
1405951   206209              9                 1
1405952   206209             13                 3
1405953   206209             14                 3
1405954   206209             15                 3
1405955   206209             16                15
1405956   206209             17                 6
1405957   206209             19                 2
1405958   206209             20                 2

[1405959 rows x 3 columns]