In [1]:
import numpy as np
import pandas as pd

data = "/mnt/d/Data/Instacart/"

In [2]:
priors = pd.read_csv(data + 'order_products__prior.csv', dtype={
            'order_id': np.int32,
            'product_id': np.uint16,
            'add_to_cart_order': np.int16,
            'reordered': np.int8}, usecols = ['order_id', 'product_id', 'reordered'], engine='c')

orders = pd.read_csv(data + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32}, usecols = ['order_id', 'user_id', 'order_number'], engine='c')

product = pd.merge(priors, orders, on='order_id').sort_values(by=['user_id', 'order_number', 'product_id']).reset_index(drop=True)

Try to generage product feature, which includes:

* probability that a product is reordered 
* average time of a product being reordered

In [3]:
product['order_time']=product.groupby(by=['product_id', 'user_id']).cumcount()

In [14]:
product.head()

   order_id  product_id  reordered  user_id  order_number  order_time
0   2539329         196          0        1             1           0
1   2398795         196          1        1             2           1
2    473747         196          1        1             3           2
3   2254736         196          1        1             4           3
4    431534         196          1        1             5           4

In [4]:
second_order_ratio = lambda x: x[x==1].count()/x[x==0].count()

p1 = product[['product_id', 'order_time']]
p1 = p1.groupby(by='product_id')['order_time'].agg({"second_order_ratio": second_order_ratio})

In [5]:
avg_reorder_ratio = lambda x: x.count()/x[x==0].count()

p2 = product[['product_id', 'reordered']]
p2 = p2.groupby(by='product_id')['reordered'].agg({'avg_reorder_ratio': avg_reorder_ratio})

In [6]:
product_feature = pd.concat([p1, p2], axis=1, names=['second_order_ratio', 'avg_reorder_ratio'])

In [7]:
product_type = pd.read_csv(data + "products.csv", dtype={
    'product_id': np.uint16,
    'product_name': str,
    'aisle_id': np.uint8,
    'department_id': np.uint8
}, usecols=['product_id', 'aisle_id', 'department_id'], engine='c')

In [8]:
product_time = pd.read_csv(data + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32}, usecols = ['order_id', 'order_dow', 'order_hour_of_day'], engine='c')
product_time = pd.merge(priors, product_time, on='order_id').drop('reordered', axis=1)

   order_id  product_id  order_dow  order_hour_of_day
0         2       33120          5                  9
1         2       28985          5                  9
2         2        9327          5                  9
3         2       45918          5                  9
4         2       30035          5                  9

In [9]:
p3 = product_time[['product_id', 'order_dow', 'order_id']].groupby(by=['product_id', 'order_dow']).agg('count').reset_index()
p3 = p3.rename(columns={'order_id': 'week_cnt'})
p4 = product_time[['product_id', 'order_hour_of_day', 'order_id']].groupby(by=['product_id', 'order_hour_of_day']).agg('count').reset_index()
p4 = p4.rename(columns={'order_id': 'hour_cnt'})
p5 = p3.groupby(by='product_id')['week_cnt'].agg('sum').reset_index().rename(columns={'week_cnt': 'total'})

In [10]:
# no normalization
p3 = p3.merge(p5, on='product_id')
p3['product_week_prob'] = p3.week_cnt/p3.total
p4 = p4.merge(p5, on='product_id')
p4['product_hour_prob'] = p4.hour_cnt/p4.total

In [4]:
# with normalization
product_only = pd.DataFrame(data={
    "product_id": product.product_id.drop_duplicates(),
    "jk": int(1)
})
week_only = pd.DataFrame(data={
    "order_dow": np.arange(7, dtype=np.int8),
    "jk": int(1)
})
hour_only = pd.DataFrame(data={
    "order_hour_of_day": np.arange(24, dtype=np.int8),
    "jk": int(1)
})
p3 = pd.merge(product_only, week_only, on="jk")
p4 = pd.merge(product_only, hour_only, on="jk")

In [6]:
p4.head()

   jk  product_id  order_hour_of_day
0   1         196                  0
1   1         196                  1
2   1         196                  2
3   1         196                  3
4   1         196                  4

In [5]:
p3 = p3.merge(product_time[['product_id', 'order_dow', 'order_id']].\
              groupby(by=['product_id', 'order_dow']).agg('count').reset_index().\
              rename(columns={'order_id': 'week_cnt'}),
             how='left', on=['product_id', 'order_dow']).fillna(0)
p3.week_cnt+=p3.jk
p3 = p3.drop('jk', axis=1)

In [6]:
week_prob = lambda x: pd.DataFrame({
    'product_id': x.product_id,
    'order_dow': x.order_dow,
    'week_prob': x.week_cnt/x.week_cnt.sum()}, index=x.index)
p3 = p3.groupby(['product_id']).apply(week_prob)

In [7]:
p4 = p4.merge(product_time[['product_id', 'order_hour_of_day', 'order_id']].\
              groupby(by=['product_id', 'order_hour_of_day']).agg('count').reset_index().\
              rename(columns={'order_id': 'hour_cnt'}),
             how='left', on=['product_id', 'order_hour_of_day']).fillna(0)
p4.hour_cnt+=p4.jk
p4 = p4.drop('jk', axis=1)

In [8]:
hour_prob = lambda x: pd.DataFrame({
    'product_id': x.product_id,
    'order_hour_of_day': x.order_hour_of_day,
    'hour_prob': x.hour_cnt/x.hour_cnt.sum()}, index=x.index)
p4 = p4.groupby(['product_id']).apply(hour_prob)

In [9]:
p4.head()

   hour_prob  order_hour_of_day  product_id
0   0.004775                  0         196
1   0.002960                  1         196
2   0.001787                  2         196
3   0.001173                  3         196
4   0.001368                  4         196

In [15]:
p3.head()

   product_id  order_dow  week_cnt
0         196          0    2535.0
1         196          1    7670.0
2         196          2    5954.0
3         196          3    5500.0
4         196          4    5462.0

<hr/>

User-product feature:

* up_order_rate <- up_orders / user_orders
* up_orders_since_last_order <- user_orders - up_last_order
* up_order_rate_since_first_order <- up_orders / (user_orders - up_first_order + 1)
* up_orders = n()

In [32]:
product.head()

,order_id,product_id,reordered,user_id,order_number,user_order_count,user_prod_order_count
0,2539329,196,0,1,1,10,10
1,2398795,196,1,1,2,10,10
2,473747,196,1,1,3,10,10
3,2254736,196,1,1,4,10,10
4,431534,196,1,1,5,10,10

In [11]:
user_order_cnt = product.groupby(by='user_id')['order_number'].max().\
reset_index().rename(columns={'order_number': 'user_order_count'})

In [12]:
up0 = product.groupby(by=['user_id', 'product_id'])['order_number'].agg(['min', 'max', 'count']).reset_index()

In [13]:
up0 = up0.merge(user_order_cnt, on='user_id')

In [14]:
up0.head()

,user_id,product_id,user_product_order_cnt,user_prod_order_rate,user_prod_last_vacancy,user_prod_order_freq
0,1,196,10,1.0,1,1.000000
1,1,10258,9,0.9,1,1.000000
2,1,10326,1,0.1,6,1.000000
3,1,12427,10,1.0,1,1.000000
4,1,13032,3,0.3,1,0.333333

In [14]:
up0['user_prod_order_rate'] = up0['count']/up0['user_order_count']

In [15]:
up0['user_prod_last_vacancy'] = up0['user_order_count']-up0['max']+1
up0['user_prod_order_freq'] = up0['count']/(up0['max']-up0['min']+1)

In [16]:
up0 = up0.drop(['min', 'max', 'user_order_count'], axis=1).rename(columns={'count': 'user_product_order_cnt'})

<hr/>

user related feature

* user_reorder_ratio: whether user like to order new stuff or not
* user_distinct_items:
* user_total_items:
* user_avg_item:

In [17]:
u1 = product[product['order_number']!=1].groupby('user_id')['reordered', 'order_number'].agg({'reordered': 'sum', 'order_number': 'count'}).reset_index()
u1['user_reorder_ratio']=u1['reordered']/u1['order_number']
u1 = u1.drop(['order_number', 'reordered'], axis=1)

In [4]:
product.head()

   order_id  product_id  reordered  user_id  order_number  order_time
0   2539329         196          0        1             1           0
1   2539329       12427          0        1             1           0
2   2539329       14084          0        1             1           0
3   2539329       26088          0        1             1           0
4   2539329       26405          0        1             1           0

In [18]:
u2 = product[['user_id', 'order_id', 'product_id']].groupby(by='user_id').agg({'order_id': pd.Series.nunique, 'product_id': {'user_distinct_items': pd.Series.nunique, 'user_total_items': 'count'}}).reset_index()
u2.columns=[['user_id', 'user_distinct_items', 'user_total_items', 'user_orders']]

In [19]:
u2['user_avg_items'] = u2.user_total_items/u2.user_orders

In [20]:
u2.drop('user_orders', axis=1, inplace=True)

In [21]:
u3 = pd.read_csv(data + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32}, usecols = ['order_id', 'user_id', 'days_since_prior_order'], engine='c')

In [22]:
u3 = u3.dropna().groupby(by='user_id')['days_since_prior_order'].agg('mean').reset_index().rename(columns={'days_since_prior_order': 'user_interval_avg'})

In [23]:
ut = pd.read_csv(data + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32}, usecols = ['order_id', 'user_id', 'order_dow', 'order_hour_of_day'], engine='c')
ut = ut.merge(priors[['order_id', 'product_id']], on='order_id')

In [24]:
u4 = ut.groupby(by=['user_id', 'order_dow']).agg({'order_id': pd.Series.nunique}).reset_index().rename(columns={"order_id": "week_cnt"}).\
groupby(by='user_id').apply(lambda x: pd.DataFrame({
    'user_id': x.user_id,
    'order_dow': x.order_dow,
    'user_week_prob': x.week_cnt/x.week_cnt.sum()
}, index=x.index))

In [25]:
u5 = ut.groupby(by=['user_id', 'order_hour_of_day']).agg({'order_id': pd.Series.nunique}).reset_index().rename(columns={"order_id": "hour_cnt"}).\
groupby(by='user_id').apply(lambda x: pd.DataFrame({
    'user_id': x.user_id,
    'order_hour_of_day': x.order_hour_of_day,
    'user_hour_prob': x.hour_cnt/x.hour_cnt.sum()
}, index=x.index))

<hr/>

order related feature

* order_vacancy

In [38]:
o1 = pd.read_csv(data + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32}, usecols = ['order_id', 'order_dow', 'order_hour_of_day', 'days_since_prior_order'], engine='c')

<hr/>

join with training set

In [27]:
train = pd.read_csv(data+"train.tsv", sep='\t', dtype={
    'order_id': np.int32,
    'user_id': np.int32,
    'product_id': np.uint16,
    'label': np.int8
})

In [28]:
# for product feature, there are p0 (equivalent to p1, p2), product_type
p0 = product_feature.reset_index()
p0.columns=['product_id', 'second_order_ratio', 'avg_reorder_ratio']
train = train.merge(p0, on='product_id').merge(product_type, on='product_id')

In [30]:
# for user-product feature, there are up0
train = train.merge(up0, on=['user_id', 'product_id'])

In [34]:
# for user feature, there are u1, u2, u3
train = train.merge(u1, on='user_id').merge(u2, on='user_id').merge(u3, on='user_id')

In [40]:
# join with current order time and delay information
# in the meantime, join with p3, p4, u4 and u5
train = train.merge(o1, on='order_id')

In [51]:
train = train.merge(p3[['product_id', 'order_dow', 'product_week_prob']], how='left', on=['product_id', 'order_dow']).\
merge(p4[['product_id', 'order_hour_of_day', 'product_hour_prob']], how='left', on=['product_id', 'order_hour_of_day']).\
merge(u4[['user_id', 'order_dow', 'user_week_prob']], how='left', on=['user_id', 'order_dow']).\
merge(u5[['user_id', 'order_hour_of_day', 'user_hour_prob']], how='left', on=['user_id', 'order_hour_of_day'])

In [52]:
train.fillna(0)
# compute some additional features
# user: days_since_ratio: days_since_prior_order/user_interval_avg
train['user_days_since_prior_ratio'] = train.days_since_prior_order/train.user_interval_avg

In [53]:
train.to_hdf("/mnt/d/Data/Instacart/dataset.hdf", "train")

join with test set

In [54]:
test = pd.read_csv(data+"test.tsv", sep='\t', dtype={
    'order_id': np.int32,
    'user_id': np.int32,
    'product_id': np.uint16
})

test = test.merge(p0, on='product_id').merge(product_type, on='product_id')
test = test.merge(up0, on=['user_id', 'product_id'])
test = test.merge(u1, on='user_id').merge(u2, on='user_id').merge(u3, on='user_id')
test = test.merge(o1, on='order_id')
test = test.merge(p3[['product_id', 'order_dow', 'product_week_prob']], how='left', on=['product_id', 'order_dow']).\
merge(p4[['product_id', 'order_hour_of_day', 'product_hour_prob']], how='left', on=['product_id', 'order_hour_of_day']).\
merge(u4[['user_id', 'order_dow', 'user_week_prob']], how='left', on=['user_id', 'order_dow']).\
merge(u5[['user_id', 'order_hour_of_day', 'user_hour_prob']], how='left', on=['user_id', 'order_hour_of_day'])
test.fillna(0)
test['user_days_since_prior_ratio'] = test.days_since_prior_order/test.user_interval_avg

In [55]:
test.to_hdf("/mnt/d/Data/Instacart/dataset.hdf", "test")