In [1]:
import numpy as np
import pandas as pd

data = "/mnt/d/Data/Instacart/"

priors = pd.read_csv(data + 'order_products__prior.csv', dtype={
            'order_id': np.int32,
            'product_id': np.uint16,
            'add_to_cart_order': np.int16,
            'reordered': np.int8}, usecols = ['order_id', 'product_id', 'reordered'], engine='c')

orders = pd.read_csv(data + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32}, usecols = ['order_id', 'user_id', 'order_number', 'days_since_prior_order'], engine='c')
orders['interval_accu'] = orders.groupby(by='user_id')['days_since_prior_order'].cumsum().fillna(0)

product = pd.merge(priors, orders, on='order_id').sort_values(by=['user_id', 'order_number', 'product_id']).reset_index(drop=True)
product['order_time']=product.groupby(by=['product_id', 'user_id']).cumcount()

In [22]:
product.head()

,order_id,product_id,reordered,user_id,order_number,days_since_prior_order,interval_accu,order_time
0,2539329,196,0,1,1,NaN,0.0,0
1,2539329,12427,0,1,1,NaN,0.0,0
2,2539329,14084,0,1,1,NaN,0.0,0
3,2539329,26088,0,1,1,NaN,0.0,0
4,2539329,26405,0,1,1,NaN,0.0,0

In [3]:
# user features
u1 = product[['user_id', 'order_id']].groupby(by='user_id')['order_id'].agg({'user_norder': pd.Series.nunique, 'user_nitems': 'count'})

In [9]:
u2 = product[['user_id', 'product_id']].groupby(by='user_id')['product_id'].agg({
    'user_ndistinctitems': pd.Series.nunique
})
u3 = product[['user_id', 'product_id']][product.reordered==1].groupby(by='user_id')['product_id'].agg({
    'user_nritems': 'count',
    'user_nrdistinctitems': pd.Series.nunique
})

In [16]:
u4 = product[['user_id', 'order_id', 'days_since_prior_order']][~product.days_since_prior_order.isnull()].drop_duplicates().\
drop(['order_id'], axis=1).groupby(by='user_id')['days_since_prior_order'].agg({
    'user_interval': 'mean'
})

In [22]:
user_feature = u1.merge(u2, left_index=True, right_index=True).\
merge(u3, how='left', left_index=True, right_index=True).\
merge(u4, left_index=True, right_index=True)

In [24]:
del u1, u2, u3, u4
user_feature.head()

,user_nitems,user_norder,user_ndistinctitems,user_nrdistinctitems,user_nritems,user_interval
user_id,,,,,,
1,59,10,18,10.0,41.0,19.555555
2,195,14,102,37.0,93.0,15.230769
3,88,12,33,19.0,55.0,12.090909
4,18,5,17,1.0,1.0,13.750000
5,37,4,23,8.0,14.0,13.333333

In [26]:
user_feature = user_feature.fillna(0)

In [35]:
user_feature['user_nritem_ratio'] = user_feature.user_nritems/user_feature.user_nitems
user_feature['user_nrdistinctitem_ratio'] = user_feature.user_nrdistinctitems/user_feature.user_ndistinctitems
user_feature['user_nitem_per_order'] = user_feature.user_nitems/user_feature.user_norder
user_feature['user_nritem_per_order'] = user_feature.user_nritems/(user_feature.user_norder-1)
user_feature['user_nritem_per_order_ratio'] = user_feature.user_nritem_per_order/user_feature.user_nitem_per_order

In [36]:
user_feature.head()

,user_nitems,user_norder,user_ndistinctitems,user_nrdistinctitems,user_nritems,user_interval,user_nritem_ratio,user_nrdistinctitem_ratio,user_nitem_per_order,user_nritem_per_order,user_nritem_per_order_ratio
user_id,,,,,,,,,,,
1,59,10,18,10.0,41.0,19.555555,0.694915,0.555556,5.900000,4.555556,0.772128
2,195,14,102,37.0,93.0,15.230769,0.476923,0.362745,13.928571,7.153846,0.513609
3,88,12,33,19.0,55.0,12.090909,0.625000,0.575758,7.333333,5.000000,0.681818
4,18,5,17,1.0,1.0,13.750000,0.055556,0.058824,3.600000,0.250000,0.069444
5,37,4,23,8.0,14.0,13.333333,0.378378,0.347826,9.250000,4.666667,0.504505

In [37]:
product['order_time']=product.groupby(by=['product_id', 'user_id']).cumcount()
second_order_ratio = lambda x: x[x==1].count()/x[x==0].count()

p1 = product[['product_id', 'order_time']].groupby(by='product_id')['order_time'].agg({"prod_norder_second_order_rate": second_order_ratio})

In [39]:
u5 = product[['user_id', 'order_time']].groupby(by='user_id')['order_time'].agg({"user_second_order_rate": second_order_ratio})

In [42]:
user_feature = user_feature.merge(u5, left_index=True, right_index=True)

In [43]:
user_feature.to_hdf("/mnt/d/Data/Instacart/dataset.hdf", "user_feature")

In [6]:
# product features
p1 = product[['product_id', 'user_id', 'order_id']].groupby(by='product_id').agg({'user_id': pd.Series.nunique, 'order_id': pd.Series.nunique}).\
rename(columns={'user_id': 'prod_nuser', 'order_id': 'prod_norder'})
p2 = product[['product_id', 'user_id', 'order_id']][product.reordered==1].groupby(by='product_id').agg({'user_id': pd.Series.nunique, 'order_id': pd.Series.nunique}).\
rename(columns={'user_id': 'prod_nruser', 'order_id': 'prod_nrorder'})

In [9]:
p3 = product[['product_id', 'user_id', 'interval_accu']].sort_values(by=['user_id', 'product_id', 'interval_accu'])

In [12]:
avginterval = lambda x: np.inf if x.shape[0]==1 else (x.max()-x.min())/(x.shape[0]-1)
up1 = p3.groupby(by=['user_id', 'product_id'])['interval_accu'].agg({'user_prod_days_interval': avginterval})

In [14]:
up1 = up1[up1.user_prod_days_interval!=np.inf].reset_index()

In [20]:
p3 = up1[['product_id', 'user_prod_days_interval']].groupby(by='product_id')['user_prod_days_interval'].agg({'prod_days_interval_avg': 'mean'})

In [23]:
up2 = product[['product_id', 'user_id', 'order_number']].sort_values(by=['user_id', 'product_id', 'order_number'])
up2 = up2.groupby(by=['product_id', 'user_id'])['order_number'].agg({'user_prod_order_interval': avginterval}).reset_index()

In [26]:
up2 = up2[up2.user_prod_order_interval!=np.inf]

In [27]:
p4 = up2[['product_id', 'user_prod_order_interval']].groupby(by='product_id')['user_prod_order_interval'].agg({'prod_order_interval_avg': 'mean'})

In [28]:
product_feature = p1.merge(p2, how='left', left_index=True, right_index=True).\
merge(p3, how='left', left_index=True, right_index=True).\
merge(p4, how='left', left_index=True, right_index=True)

In [37]:
product_feature.prod_order_interval_avg.max()

94.0

In [40]:
product_feature.prod_nruser = product_feature.prod_nruser.fillna(0)
product_feature.prod_nrorder = product_feature.prod_nrorder.fillna(0)
product_feature.prod_days_interval_avg = product_feature.prod_days_interval_avg.fillna(365)
product_feature.prod_order_interval_avg = product_feature.prod_order_interval_avg.fillna(100)

In [44]:
product_feature['prod_ruser_ratio'] = product_feature.prod_nruser/product_feature.prod_nuser
product_feature['prod_rorder_ratio'] = product_feature.prod_nrorder/product_feature.prod_norder
product_feature['prod_rorder_per_ruser'] = product_feature.prod_nrorder/product_feature.prod_nruser
product_feature['prod_order_per_user'] = product_feature.prod_norder/product_feature.prod_nuser
product_feature.prod_rorder_per_ruser = product_feature.prod_rorder_per_ruser.fillna(0)

In [50]:
product_feature.head()

,prod_nuser,prod_norder,prod_nruser,prod_nrorder,prod_days_interval_avg,prod_order_interval_avg,prod_ruser_ratio,prod_rorder_ratio,prod_rorder_per_ruser,prod_order_per_user,prod_second_order_ratio
product_id,,,,,,,,,,,
1,716,1852,276.0,1136.0,46.261837,5.244687,0.385475,0.613391,4.115942,2.586592,0.385475
2,78,90,8.0,12.0,53.849998,8.750000,0.102564,0.133333,1.500000,1.153846,0.102564
3,74,277,36.0,203.0,26.942787,3.561093,0.486486,0.732852,5.638889,3.743243,0.486486
4,182,329,64.0,147.0,37.590836,3.236756,0.351648,0.446809,2.296875,1.807692,0.351648
5,6,15,4.0,9.0,55.583332,3.541667,0.666667,0.600000,2.250000,2.500000,0.666667

In [46]:
second_order_ratio = lambda x: x[x==1].count()/x[x==0].count()
p5 = product[['product_id', 'order_time']].groupby(by='product_id')['order_time'].agg({"prod_second_order_ratio": second_order_ratio})

In [49]:
product_feature = product_feature.merge(p5, left_index=True, right_index=True)

In [51]:
del p1, p2, p3, p4, p5
product_feature.to_hdf("/mnt/d/Data/Instacart/dataset.hdf", "product_feature")

In [56]:
# prod-user feature
up3 = product[['user_id', 'product_id', 'reordered']].groupby(by=['product_id', 'user_id'])['reordered'].agg({
    'user_prod_norder': 'count',
    'user_prod_reordered': 'max'
})

In [57]:
up

                    user_prod_reordered  user_prod_norder
product_id user_id
1          138                        1                 2
           709                        0                 1
           764                        1                 2
           777                        0                 1
           825                        0                 1

In [101]:
ut = product[['user_id', 'order_number']].groupby(by='user_id').agg({'order_number': 'max'})
up4 = product[['user_id', 'product_id', 'order_number']][product.order_time==0].rename(columns={'order_number': 'first_order_number'})

In [102]:
up4 = pd.merge(up4, ut, left_on='user_id', right_index=True)

In [103]:
up4['user_prod_recentlydiscovered'] = pd.Series(up4.first_order_number==up4.order_number)

In [107]:
up4.drop(['first_order_number', 'order_number'], axis=1, inplace=True)

In [109]:
user_product_feature = up3.reset_index().merge(up1, how='left', on=['product_id', 'user_id']).\
merge(up2, how='left', on=['product_id', 'user_id']).\
merge(up4.astype(np.int), on=['product_id', 'user_id'])

In [114]:
user_product_feature.user_prod_days_interval = user_product_feature.user_prod_days_interval.fillna(366)
user_product_feature.user_prod_order_interval = user_product_feature.user_prod_order_interval.fillna(100)

In [115]:
del up1, up2, up3, up4

In [116]:
user_feature.head()

NameError: name 'user_feature' is not defined

In [117]:
user_feature = pd.read_hdf("/mnt/d/Data/Instacart/dataset.hdf", "user_feature")
user_feature.head()

,user_nitems,user_norder,user_ndistinctitems,user_nrdistinctitems,user_nritems,user_interval,user_nritem_ratio,user_nrdistinctitem_ratio,user_nitem_per_order,user_nritem_per_order,user_nritem_per_order_ratio,user_second_order_rate
user_id,,,,,,,,,,,,
1,59,10,18,10.0,41.0,19.555555,0.694915,0.555556,5.900000,4.555556,0.772128,0.555556
2,195,14,102,37.0,93.0,15.230769,0.476923,0.362745,13.928571,7.153846,0.513609,0.362745
3,88,12,33,19.0,55.0,12.090909,0.625000,0.575758,7.333333,5.000000,0.681818,0.575758
4,18,5,17,1.0,1.0,13.750000,0.055556,0.058824,3.600000,0.250000,0.069444,0.058824
5,37,4,23,8.0,14.0,13.333333,0.378378,0.347826,9.250000,4.666667,0.504505,0.347826

In [118]:
user_product_feature = user_product_feature.merge(user_feature[['user_interval', 'user_norder']], left_on='user_id',
                                                 right_index=True)

In [119]:
user_product_feature['user_prod_norder_rate'] = user_product_feature.user_prod_norder/user_product_feature.user_norder
user_product_feature['user_prod_days_interval_rate'] = user_product_feature.user_prod_days_interval/user_product_feature.user_interval

In [120]:
user_product_feature.drop(['user_interval', 'user_norder'], axis=1, inplace=True)

In [121]:
user_product_feature.to_hdf("/mnt/d/Data/Instacart/dataset.hdf", "user_product_feature")

In [41]:
# hour and week
priors = pd.read_csv(data + 'order_products__prior.csv', dtype={
            'order_id': np.int32,
            'product_id': np.uint16,
            'add_to_cart_order': np.int16,
            'reordered': np.int8}, usecols = ['order_id', 'product_id', 'reordered'], engine='c')

orders = pd.read_csv(data + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32}, usecols = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day'], engine='c')

product = pd.merge(priors, orders, on='order_id').sort_values(by=['user_id', 'order_number', 'product_id']).reset_index(drop=True)

In [4]:
product.head()

,order_id,product_id,reordered,user_id,order_number,order_dow,order_hour_of_day
0,2539329,196,0,1,1,2,8
1,2539329,12427,0,1,1,2,8
2,2539329,14084,0,1,1,2,8
3,2539329,26088,0,1,1,2,8
4,2539329,26405,0,1,1,2,8

In [42]:
t1 = product[['product_id', 'order_hour_of_day', 'order_id']].groupby(by=['product_id', 'order_hour_of_day']).agg('count').reset_index()
t1 = t1.rename(columns={'order_id': 'hour_cnt'})
t11 = t1.groupby(by='product_id')['hour_cnt'].agg({'prod_hour_cnt': 'sum'}).reset_index()
t12 = t1.groupby(by='order_hour_of_day')['hour_cnt'].agg({'hour_prod_cnt': 'sum'}).reset_index()
t1 = t1.merge(t11, on='product_id').merge(t12, on='order_hour_of_day')
t1['prod_hour_prob']=t1.hour_cnt/t1.prod_hour_cnt
t1['hour_prod_prob']=t1.hour_cnt/t1.hour_prod_cnt
t1.drop(['hour_cnt', 'prod_hour_cnt', 'hour_prod_cnt'], axis=1, inplace=True)
del t11, t12

In [43]:
t2 = product[['product_id', 'order_dow', 'order_id']].groupby(by=['product_id', 'order_dow']).agg('count').reset_index()
t2 = t2.rename(columns={'order_id': 'week_cnt'})
t21 = t2.groupby(by='product_id')['week_cnt'].agg({'prod_week_cnt': 'sum'}).reset_index()
t22 = t2.groupby(by='order_dow')['week_cnt'].agg({'week_prod_cnt': 'sum'}).reset_index()
t2 = t2.merge(t21, on='product_id').merge(t22, on='order_dow')
t2['prod_week_prob']=t2.week_cnt/t2.prod_week_cnt
t2['week_prod_prob']=t2.week_cnt/t2.week_prod_cnt
t2.drop(['week_cnt', 'prod_week_cnt', 'week_prod_cnt'], axis=1, inplace=True)
del t22, t21

In [44]:
t3 = product[['user_id', 'order_hour_of_day', 'order_id']][product.reordered==1].\
groupby(by=['user_id', 'order_hour_of_day'])['order_id'].\
agg({'user_hour_count': 'count'}).reset_index()
t31 = product[['user_id', 'order_hour_of_day', 'order_id']][product.reordered==1].\
groupby(by=['user_id'])['order_id'].\
agg({'user_count': 'count'}).reset_index()
t3 = t3.merge(t31, on='user_id')
t3['hour_user_reorder_prob'] = t3.user_hour_count/t3.user_count
t3.drop(['user_hour_count', 'user_count'], axis=1, inplace=True)

In [45]:
t4 = product[['user_id', 'order_dow', 'order_id']][product.reordered==1].\
groupby(by=['user_id', 'order_dow'])['order_id'].\
agg({'user_week_count': 'count'}).reset_index()
t41 = product[['user_id', 'order_dow', 'order_id']][product.reordered==1].\
groupby(by=['user_id'])['order_id'].\
agg({'user_count': 'count'}).reset_index()
t4 = t4.merge(t41, on='user_id')
t4['week_user_reorder_prob'] = t4.user_week_count/t4.user_count
t4.drop(['user_week_count', 'user_count'], axis=1, inplace=True)

In [46]:
t5 = product[['product_id', 'order_hour_of_day', 'order_id']][product.reordered==1].\
groupby(by=['product_id', 'order_hour_of_day'])['order_id'].\
agg({'prod_hour_count': 'count'}).reset_index()
t51 = product[['product_id', 'order_hour_of_day', 'order_id']][product.reordered==1].\
groupby(by=['product_id'])['order_id'].\
agg({'prod_count': 'count'}).reset_index()
t5 = t5.merge(t51, on='product_id')
t5['hour_prod_reorder_prob'] = t5.prod_hour_count/t5.prod_count
t5.drop(['prod_hour_count', 'prod_count'], axis=1, inplace=True)

In [47]:
t6 = product[['product_id', 'order_dow', 'order_id']][product.reordered==1].\
groupby(by=['product_id', 'order_dow'])['order_id'].\
agg({'prod_week_count': 'count'}).reset_index()
t61 = product[['product_id', 'order_dow', 'order_id']][product.reordered==1].\
groupby(by=['product_id'])['order_id'].\
agg({'prod_count': 'count'}).reset_index()
t6 = t6.merge(t61, on='product_id')
t6['week_prod_reorder_prob'] = t6.prod_week_count/t6.prod_count
t6.drop(['prod_week_count', 'prod_count'], axis=1, inplace=True)

In [48]:
t7 = product[['user_id', 'product_id', 'order_hour_of_day', 'order_id']][product.reordered==1].\
groupby(by=['user_id', 'product_id', 'order_hour_of_day'])['order_id'].\
agg({'user_prod_hour_count': 'count'}).reset_index()
t71 = product[['user_id', 'product_id', 'order_hour_of_day', 'order_id']][product.reordered==1].\
groupby(by=['user_id', 'product_id'])['order_id'].\
agg({'user_prod_count': 'count'}).reset_index()
t7 = t7.merge(t71, on=['user_id', 'product_id'])
t7['hour_user_prod_reorder_prob'] = t7.user_prod_hour_count/t7.user_prod_count
t7.drop(['user_prod_hour_count', 'user_prod_count'], axis=1, inplace=True)

In [49]:
t8 = product[['user_id', 'product_id', 'order_dow', 'order_id']][product.reordered==1].\
groupby(by=['user_id', 'product_id', 'order_dow'])['order_id'].\
agg({'user_prod_week_count': 'count'}).reset_index()
t81 = product[['user_id', 'product_id', 'order_dow', 'order_id']][product.reordered==1].\
groupby(by=['user_id', 'product_id'])['order_id'].\
agg({'user_prod_count': 'count'}).reset_index()
t8 = t8.merge(t81, on=['user_id', 'product_id'])
t8['week_user_prod_reorder_prob'] = t8.user_prod_week_count/t8.user_prod_count
t8.drop(['user_prod_week_count', 'user_prod_count'], axis=1, inplace=True)

In [16]:
t8.head()

   user_id  product_id  order_dow  week_user_prod_reorder_prob
0        1         196          1                     0.333333
1        1         196          2                     0.111111
2        1         196          3                     0.222222
3        1         196          4                     0.333333
4        1       10258          1                     0.375000

In [2]:
# asile and department
product_detail = pd.read_csv(data+"products.csv", dtype = {
    'product_id': np.uint16,
    'product_name': str,
    'aisle_id': np.uint8,
    'department_id': np.uint8
}, usecols = ['product_id', 'aisle_id', 'department_id'])

In [22]:
product_detail.head()

   product_id  aisle_id  department_id
0           1        61             19
1           2       104             13
2           3        94              7
3           4        38              1
4           5         5             13

In [23]:
product.head()

,order_id,product_id,reordered,user_id,order_number,order_dow,order_hour_of_day
0,2539329,196,0,1,1,2,8
1,2539329,12427,0,1,1,2,8
2,2539329,14084,0,1,1,2,8
3,2539329,26088,0,1,1,2,8
4,2539329,26405,0,1,1,2,8

In [23]:
d1 = pd.merge(product_detail, product[['product_id', 'order_id']][product.reordered==1], on='product_id').groupby(by=['product_id', 'aisle_id', 'department_id']).\
agg({'order_id': 'count'}).reset_index()

In [24]:
d11 = d1[['aisle_id', 'order_id']].groupby(by='aisle_id')['order_id'].agg({'aisle_count': 'sum'})
d12 = d1[['department_id', 'order_id']].groupby(by='department_id')['order_id'].agg({'department_count': 'sum'})

In [25]:
d1 = d1.merge(d11, left_on='aisle_id', right_index=True).merge(d12, left_on='department_id', right_index=True)
d1['prod_aisle_reorder_prob'] = d1.order_id/d1.aisle_count
d1['prod_department_reorder_prob'] = d1.order_id/d1.department_count

In [26]:
d1.drop(['order_id', 'aisle_count', 'department_count'], axis=1, inplace=True)

In [10]:
d = pd.merge(product_detail, product[['product_id', 'user_id', 'order_id']][product.reordered==1], on='product_id')

In [33]:
d1.head()

,product_id,aisle_id,department_id,prod_aisle_reorder_prob,prod_department_reorder_prob
0,1,61,19,0.008845,0.000685
74,78,61,19,0.000023,0.000002
95,102,61,19,0.000273,0.000021
159,172,61,19,0.000553,0.000043
265,285,61,19,0.000436,0.000034

In [17]:
d2 = d[['user_id', 'order_id']].groupby(by='user_id')['order_id'].agg({'user_rorder_cnt': 'count'}).reset_index()
d21 = d[['user_id', 'aisle_id', 'order_id']].groupby(by=['user_id', 'aisle_id'])['order_id'].agg({'aisle_count': 'count'}).reset_index()
d22 = d[['user_id', 'department_id', 'order_id']].groupby(by=['user_id', 'department_id'])['order_id'].agg({'department_count': 'count'}).reset_index()
d2 = d2.merge(d21, on='user_id').merge(d22, on='user_id')
d2['aisle_user_reorder_prob'] = d2.aisle_count/d2.user_rorder_cnt
d2['department_user_reorder_prob'] = d2.department_count/d2.user_rorder_cnt
d2.drop(['user_rorder_cnt', 'aisle_count', 'department_count'], axis=1, inplace=True)

In [18]:
d2

,user_id,aisle_id,department_id,aisle_user_reorder_prob,department_user_reorder_prob
0,1,21,4,0.170732,0.024390
1,1,21,7,0.170732,0.268293
2,1,21,14,0.170732,0.048780
3,1,21,16,0.170732,0.195122
4,1,21,17,0.170732,0.024390
5,1,21,19,0.170732,0.439024
6,1,23,4,0.243902,0.024390
7,1,23,7,0.243902,0.268293
8,1,23,14,0.243902,0.048780
9,1,23,16,0.243902,0.195122
10,1,23,17,0.243902,0.024390
11,1,23,19,0.243902,0.439024
12,1,24,4,0.024390,0.024390
13,1,24,7,0.024390,0.268293
14,1,24,14,0.024390,0.048780
15,1,24,16,0.024390,0.195122
16,1,24,17,0.024390,0.024390
17,1,24,19,0.024390,0.439024
18,1,53,4,0.024390,0.024390
19,1,53,7,0.024390,0.268293
20,1,53,14,0.024390,0.048780
21,1,53,16,0.024390,0.195122
22,1,53,17,0.024390,0.024390
23,1,53,19,0.024390,0.439024
24,1,54,4,0.024390,0.024390
25,1,54,7,0.024390,0.268293
26,1,54,14,0.024390,0.048780
27,1,54,16,0.024390,0.195122
28,1,54,17,0.024390,0.024390
29,1,54,19,0.024390,0.439024
...,...,...,...,...,...
28006942,206209,121,9,0.032787,0.016393
28006943,206209,121,13,0.032787,0.049180
28006944,206209,121,14,0.032787,0.049180
28006945,206209,121,15,0.032787,0.049180
28006946,206209,121,16,0.032787,0.245902
28006947,206209,121,17,0.032787,0.098361
28006948,206209,121,19,0.032787,0.032787
28006949,206209,121,20,0.032787,0.032787
28006950,206209,123,3,0.032787,0.098361
28006951,206209,123,4,0.032787,0.180328
28006952,206209,123,7,0.032787,0.147541
28006953,206209,123,9,0.032787,0.016393
28006954,206209,123,13,0.032787,0.049180
28006955,206209,123,14,0.032787,0.049180
28006956,206209,123,15,0.032787,0.049180
28006957,206209,123,16,0.032787,0.245902
28006958,206209,123,17,0.032787,0.098361
28006959,206209,123,19,0.032787,0.032787
28006960,206209,123,20,0.032787,0.032787
28006961,206209,130,3,0.016393,0.098361
28006962,206209,130,4,0.016393,0.180328
28006963,206209,130,7,0.016393,0.147541
28006964,206209,130,9,0.016393,0.016393
28006965,206209,130,13,0.016393,0.049180
28006966,206209,130,14,0.016393,0.049180
28006967,206209,130,15,0.016393,0.049180
28006968,206209,130,16,0.016393,0.245902
28006969,206209,130,17,0.016393,0.098361
28006970,206209,130,19,0.016393,0.032787
28006971,206209,130,20,0.016393,0.032787

In [27]:
# instant feature generation

In [37]:
train = pd.read_csv(data+"train.tsv", sep='\t', dtype={
    'order_id': np.int32,
    'user_id': np.int32,
    'product_id': np.uint16,
    'label': np.int8
})

In [32]:
train.shape

(8474661, 5)

In [38]:
train = train.merge(product_detail, on='product_id').merge(d1, how='left', on=['product_id', 'aisle_id', 'department_id']).fillna(0).\
merge(d2, how='left', on=['user_id', 'aisle_id', 'department_id']).fillna(0)

In [39]:
train.head()

,order_id,user_id,product_id,label,seed,aisle_id,department_id,prod_aisle_reorder_prob,prod_department_reorder_prob,aisle_user_reorder_prob,department_user_reorder_prob
0,1187899,1,196,1,1,77,7,0.121674,0.015809,0.268293,0.268293
1,1854765,21,196,0,1,77,7,0.121674,0.015809,0.019417,0.320388
2,1864787,43,196,0,1,77,7,0.121674,0.015809,0.016949,0.016949
3,1647290,52,196,0,4,77,7,0.121674,0.015809,0.211864,0.211864
4,2757217,67,196,1,4,77,7,0.121674,0.015809,0.310345,0.396552

In [53]:
orders = pd.read_csv(data + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32}, usecols = ['order_id', 'eval_set', 'order_dow', 'order_hour_of_day'], engine='c')
orders = orders[['order_id', 'order_dow', 'order_hour_of_day']][orders.eval_set=='train']

In [62]:
t8.head()

   user_id  product_id  order_dow  week_user_prod_reorder_prob
0        1         196          1                     0.333333
1        1         196          2                     0.111111
2        1         196          3                     0.222222
3        1         196          4                     0.333333
4        1       10258          1                     0.375000

In [63]:
train = train.merge(orders, on='order_id').merge(t1, how='left', on=['product_id', 'order_hour_of_day']).\
merge(t2, how='left', on=['product_id', 'order_dow']).\
merge(t3, how='left', on=['user_id', 'order_hour_of_day']).\
merge(t4, how='left', on=['user_id', 'order_dow']).\
merge(t5, how='left', on=['product_id', 'order_hour_of_day']).\
merge(t6, how='left', on=['product_id', 'order_dow']).fillna(0).\
merge(t7, how='left', on=['user_id', 'product_id', 'order_hour_of_day']).\
merge(t8, how='left', on=['user_id', 'product_id', 'order_dow']).fillna(0)

In [65]:
train

,order_id,user_id,product_id,label,seed,aisle_id,department_id,prod_aisle_reorder_prob,prod_department_reorder_prob,aisle_user_reorder_prob,...,prod_hour_prob,hour_prod_prob,prod_week_prob,week_prod_prob,hour_user_reorder_prob,week_user_reorder_prob,hour_prod_reorder_prob,week_prod_reorder_prob,hour_user_prod_reorder_prob,week_user_prod_reorder_prob
0,1187899,1,196,1,1,77,7,0.121674,0.015809,0.268293,...,0.059652,0.001241,0.152580,1.441957e-03,0.146341,0.390244,0.061531,0.151092,0.111111,0.333333
1,1187899,1,14084,0,1,91,16,0.029236,0.003563,0.000000,...,0.055538,0.000515,0.117917,4.961429e-04,0.146341,0.390244,0.057340,0.117697,0.000000,0.000000
2,1187899,1,12427,0,1,23,19,0.049554,0.002893,0.243902,...,0.065318,0.000246,0.130173,2.225910e-04,0.146341,0.390244,0.071295,0.131957,0.111111,0.333333
3,1187899,1,26088,1,1,23,19,0.014049,0.000820,0.243902,...,0.049544,0.000073,0.129608,8.634313e-05,0.146341,0.390244,0.054412,0.129412,0.000000,0.000000
4,1187899,1,26405,1,1,54,17,0.004178,0.001804,0.024390,...,0.066722,0.000047,0.147446,4.726428e-05,0.146341,0.390244,0.067164,0.167910,0.000000,1.000000
5,1187899,1,10258,1,1,117,19,0.008729,0.000838,0.195122,...,0.062179,0.000070,0.137718,7.076440e-05,0.146341,0.390244,0.062635,0.140389,0.125000,0.375000
6,1187899,1,13176,0,1,24,4,0.120786,0.051279,0.024390,...,0.058385,0.012880,0.117549,1.177752e-02,0.146341,0.390244,0.059548,0.117763,0.000000,1.000000
7,1187899,1,13032,1,1,121,14,0.011421,0.006193,0.048780,...,0.061584,0.000134,0.144495,1.431131e-04,0.146341,0.390244,0.063286,0.153753,0.500000,0.500000
8,1187899,1,25133,1,1,21,16,0.007998,0.001264,0.170732,...,0.060362,0.000217,0.124919,2.043718e-04,0.146341,0.390244,0.063454,0.125382,0.142857,0.428571
9,1187899,1,30450,0,1,88,13,0.086295,0.018727,0.000000,...,0.053281,0.000666,0.119079,6.756944e-04,0.146341,0.390244,0.058630,0.123501,0.000000,0.000000
10,1187899,1,10326,0,1,24,4,0.001378,0.000585,0.024390,...,0.066956,0.000215,0.123959,1.808717e-04,0.146341,0.390244,0.069387,0.119067,0.000000,0.000000
11,1187899,1,17122,0,1,24,4,0.003585,0.001522,0.024390,...,0.069885,0.000564,0.120317,4.409573e-04,0.146341,0.390244,0.074437,0.122854,0.000000,0.000000
12,1187899,1,41787,0,1,24,4,0.008800,0.003736,0.024390,...,0.065484,0.001348,0.111541,1.042983e-03,0.146341,0.390244,0.071519,0.111101,0.000000,0.000000
13,1187899,1,46149,1,1,77,7,0.030441,0.003955,0.268293,...,0.066137,0.000329,0.152606,3.448444e-04,0.146341,0.390244,0.065439,0.150582,0.500000,0.500000
14,1187899,1,49235,1,1,53,16,0.273918,0.016451,0.024390,...,0.066592,0.002956,0.125471,2.529827e-03,0.146341,0.390244,0.068441,0.126223,0.000000,0.000000
15,1187899,1,39657,1,1,45,19,0.022320,0.002320,0.000000,...,0.052002,0.000152,0.130106,1.724222e-04,0.146341,0.390244,0.053822,0.130785,0.000000,0.000000
16,1187899,1,38928,1,1,120,16,0.010991,0.003021,0.000000,...,0.063680,0.000490,0.136199,4.760754e-04,0.146341,0.390244,0.063972,0.135517,0.000000,0.000000
17,1187899,1,35951,0,1,91,16,0.099260,0.012096,0.000000,...,0.057000,0.001919,0.114725,1.753795e-03,0.146341,0.390244,0.060103,0.116285,0.000000,0.000000
18,1854765,21,196,0,1,77,7,0.121674,0.015809,0.019417,...,0.085217,0.001164,0.214272,1.353547e-03,0.038835,0.563107,0.084416,0.225757,0.000000,0.000000
19,1854765,21,49235,0,1,53,16,0.273918,0.016451,0.019417,...,0.079990,0.002331,0.205304,2.766925e-03,0.038835,0.563107,0.078915,0.209763,0.000000,0.000000
20,1854765,21,47766,0,1,24,4,0.051250,0.021758,0.145631,...,0.081605,0.005505,0.182586,5.697992e-03,0.038835,0.563107,0.081458,0.182216,0.000000,0.500000
21,1854765,21,37646,0,1,24,4,0.020419,0.008669,0.145631,...,0.073250,0.002036,0.186476,2.397519e-03,0.038835,0.563107,0.072351,0.187189,0.000000,0.500000
22,1854765,21,24852,0,1,24,4,0.152404,0.064702,0.145631,...,0.076616,0.013815,0.185767,1.549404e-02,0.038835,0.563107,0.076180,0.186712,0.000000,0.500000
23,1854765,21,33754,0,1,120,16,0.022486,0.006181,0.048544,...,0.074599,0.000851,0.207641,1.095510e-03,0.038835,0.563107,0.074044,0.213212,0.000000,0.000000
24,1854765,21,18523,0,1,120,16,0.016857,0.004634,0.048544,...,0.078406,0.000689,0.213163,8.665946e-04,0.038835,0.563107,0.077527,0.215327,0.250000,0.750000
25,1854765,21,42356,0,1,88,13,0.053203,0.011545,0.009709,...,0.081427,0.000474,0.169344,4.558887e-04,0.038835,0.563107,0.081913,0.168487,0.000000,0.000000
26,1854765,21,7963,0,1,58,1,0.424558,0.007606,0.000000,...,0.078090,0.000409,0.187313,4.534178e-04,0.038835,0.563107,0.077349,0.189412,0.000000,0.000000
27,1854765,21,21137,0,1,24,4,0.078703,0.033413,0.145631,...,0.076080,0.007683,0.175157,8.182524e-03,0.038835,0.563107,0.075503,0.174962,0.000000,0.000000
28,1854765,21,43352,0,1,32,4,0.207210,0.006413,0.000000,...,0.079146,0.001741,0.180344,1.834674e-03,0.038835,0.563107,0.078138,0.182778,0.000000,0.000000
29,1854765,21,26209,0,1,24,4,0.036616,0.015545,0.145631,...,0.086050,0.004617,0.164492,4.082702e-03,0.038835,0.563107,0.085216,0.166590,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8474631,765464,53014,17511,0,3,88,13,0.001205,0.000261,0.000000,...,0.123711,0.000014,0.195876,1.006026e-05,0.111111,0.222222,0.123529,0.158824,0.000000,0.000000
8474632,765464,53014,25681,0,3,88,13,0.000865,0.000188,0.000000,...,0.080508,0.000007,0.224576,9.354279e-06,0.111111,0.222222,0.065574,0.278689,0.000000,0.000000
8474633,670170,90276,39727,1,3,25,11,0.002007,0.000286,0.538462,...,0.013245,0.000003,0.132450,4.751121e-06,0.000000,0.000000,0.000000,0.146341,0.000000,0.000000
8474634,670170,90276,48472,1,3,102,18,0.007092,0.000073,0.230769,...,0.000000,0.000000,0.088608,1.662892e-06,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000
8474635,670170,90276,38550,1,3,25,11,0.000196,0.000028,0.538462,...,0.000000,0.000000,0.111111,4.751121e-07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8474636,670170,90276,32860,0,3,25,11,0.000147,0.000021,0.538462,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8474637,670170,90276,2768,1,3,109,11,0.013008,0.000223,0.076923,...,0.029412,0.000003,0.132353,2.138004e-06,0.000000,0.000000,0.031250,0.250000,0.000000,0.000000
8474638,670170,90276,1656,0,3,73,11,0.000778,0.000021,0.153846,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8474639,2756183,49488,10862,1,4,65,11,0.018186,0.002347,1.000000,...,0.070562,0.000031,0.108049,2.587653e-05,0.000000,0.000000,0.053412,0.091988,0.000000,0.000000
8474640,268534,158621,15406,1,4,13,20,0.003861,0.000371,1.000000,...,0.062893,0.000008,0.097484,6.888424e-06,0.181818,0.090909,0.054852,0.088608,0.181818,0.090909
8474641,268534,158621,32776,0,4,30,6,0.005875,0.001760,0.000000,...,0.047414,0.000004,0.103448,5.332973e-06,0.181818,0.090909,0.062857,0.068571,0.000000,0.000000
8474642,1988549,115493,31162,0,2,88,13,0.000432,0.000094,0.500000,...,0.094972,0.000006,0.139665,6.601157e-06,0.000000,0.000000,0.065574,0.098361,0.000000,0.000000
8474643,1988549,115493,18308,1,2,17,13,0.000281,0.000043,0.500000,...,0.059091,0.000005,0.140909,8.185434e-06,0.000000,0.000000,0.035714,0.178571,0.000000,0.000000
8474644,1293284,93019,23043,1,3,115,7,0.000311,0.000109,1.000000,...,0.019293,0.000015,0.163987,9.001288e-06,0.000000,0.000000,0.015707,0.130890,0.000000,0.000000
8474645,1671960,122023,45624,0,1,2,16,0.003567,0.000040,0.000000,...,0.103321,0.000011,0.125461,8.977573e-06,0.000000,0.000000,0.097222,0.125000,0.000000,0.000000
8474646,1671960,122023,3055,1,1,94,7,0.002965,0.000222,1.000000,...,0.085414,0.000026,0.139290,2.798890e-05,0.000000,0.000000,0.074359,0.123077,0.000000,0.000000
8474647,543107,199758,21525,1,1,117,19,0.001138,0.000109,1.000000,...,0.026012,0.000009,0.106936,9.769712e-06,0.000000,0.000000,0.033149,0.116022,0.000000,0.000000
8474648,2759480,179100,33395,1,1,65,11,0.008580,0.001107,1.000000,...,0.063218,0.000013,0.160920,9.018198e-06,0.000000,0.000000,0.069182,0.150943,0.000000,0.000000
8474649,30886,92559,1078,1,2,3,19,0.000293,0.000048,1.000000,...,0.032000,0.000002,0.064000,1.288314e-06,0.000000,0.000000,0.025000,0.075000,0.000000,0.000000
8474650,2432273,164455,16838,1,1,70,11,0.005089,0.000425,1.000000,...,0.070922,0.000004,0.120567,3.000429e-06,0.250000,0.000000,0.114754,0.098361,0.250000,0.000000
8474651,3166414,21688,2633,0,1,92,18,0.000762,0.000701,0.666667,...,0.023891,0.000009,0.197952,9.340277e-06,0.333333,0.333333,0.017442,0.220930,0.500000,0.500000
8474652,3166414,21688,8653,0,1,27,5,0.003090,0.000970,0.333333,...,0.026316,0.000005,0.092105,2.254550e-06,0.333333,0.333333,0.011765,0.117647,0.000000,0.000000
8474653,3166414,21688,20497,0,1,118,11,0.008499,0.000125,0.000000,...,0.031746,0.000003,0.126984,1.288314e-06,0.333333,0.333333,0.055556,0.111111,0.000000,0.000000
8474654,1528524,11534,42387,1,1,115,7,0.000388,0.000135,1.000000,...,0.059561,0.000007,0.231975,1.306069e-05,0.090909,0.727273,0.054622,0.235294,0.090909,0.727273
8474655,1019879,121129,22683,1,2,45,19,0.001341,0.000139,1.000000,...,0.082153,0.000011,0.144476,9.001288e-06,0.000000,0.500000,0.099567,0.125541,0.000000,0.500000
8474656,2080697,166751,49001,1,4,47,11,0.000997,0.000098,1.000000,...,0.133333,0.000002,0.088889,1.056185e-06,0.000000,1.000000,0.071429,0.142857,0.000000,1.000000
8474657,884744,31628,49070,1,3,77,7,0.000403,0.000052,1.000000,...,0.094737,0.000007,0.173684,5.824363e-06,0.250000,0.000000,0.130435,0.163043,0.250000,0.000000
8474658,2250575,178074,19318,1,4,17,13,0.001365,0.000209,1.000000,...,0.080000,0.000005,0.188571,7.839349e-06,0.000000,0.090909,0.080882,0.191176,0.000000,0.090909
8474659,3264957,120516,8566,0,4,88,13,0.000609,0.000132,1.000000,...,0.107143,0.000006,0.114286,3.793449e-06,0.200000,0.200000,0.104651,0.116279,0.000000,0.000000
8474660,3264957,120516,40072,1,4,88,13,0.000071,0.000015,1.000000,...,0.120000,0.000001,0.120000,7.112716e-07,0.200000,0.200000,0.100000,0.100000,1.000000,1.000000

In [66]:
train.to_hdf("/mnt/d/Data/Instacart/dataset.hdf", "train")

In [67]:
#test

test = pd.read_csv(data+"test.tsv", sep='\t', dtype={
    'order_id': np.int32,
    'user_id': np.int32,
    'product_id': np.uint16
})
test = test.merge(product_detail, on='product_id').merge(d1, how='left', on=['product_id', 'aisle_id', 'department_id']).fillna(0).\
merge(d2, how='left', on=['user_id', 'aisle_id', 'department_id']).fillna(0)
orders = pd.read_csv(data + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32}, usecols = ['order_id', 'eval_set', 'order_dow', 'order_hour_of_day'], engine='c')
orders = orders[['order_id', 'order_dow', 'order_hour_of_day']][orders.eval_set=='test']
test = test.merge(orders, on='order_id').merge(t1, how='left', on=['product_id', 'order_hour_of_day']).\
merge(t2, how='left', on=['product_id', 'order_dow']).\
merge(t3, how='left', on=['user_id', 'order_hour_of_day']).\
merge(t4, how='left', on=['user_id', 'order_dow']).\
merge(t5, how='left', on=['product_id', 'order_hour_of_day']).\
merge(t6, how='left', on=['product_id', 'order_dow']).fillna(0).\
merge(t7, how='left', on=['user_id', 'product_id', 'order_hour_of_day']).\
merge(t8, how='left', on=['user_id', 'product_id', 'order_dow']).fillna(0)

In [69]:
test.to_hdf("/mnt/d/Data/Instacart/dataset.hdf", "test")