In [1]:
import numpy as np
import pandas as pd

data = "/mnt/d/Data/Instacart/"

In [2]:
priors = pd.read_csv(data + 'order_products__prior.csv', dtype={
            'order_id': np.int32,
            'product_id': np.uint16,
            'add_to_cart_order': np.int16,
            'reordered': np.int8}, usecols = ['order_id', 'product_id', 'reordered'], engine='c')

orders = pd.read_csv(data + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32}, usecols = ['order_id', 'user_id', 'order_number'], engine='c')

product = pd.merge(priors, orders, on='order_id').sort_values(by=['user_id', 'order_number', 'product_id']).reset_index(drop=True)

Try to generage product feature, which includes:

* probability that a product is reordered 
* average time of a product being reordered

In [3]:
product['order_time']=product.groupby(by=['product_id', 'user_id']).cumcount()

In [19]:
second_order_ratio = lambda x: x[x==1].count()/x[x==0].count()

p1 = product[['product_id', 'order_time']]
p1 = p1.groupby(by='product_id').agg({'order_time': {"second_order_ratio": second_order_ratio}})

In [20]:
p1

                   order_time
           second_order_ratio
product_id
1                    0.385475
2                    0.102564
3                    0.486486
4                    0.351648
5                    0.666667
6                    0.400000
7                    0.333333
8                    0.365854
9                    0.418919
10                   0.314669
11                   0.333333
12                   0.316667
13                   0.166667
14                   0.066667
15                   0.333333
16                   0.117647
17                   0.125000
18                   0.418182
19                   0.000000
20                   0.200000
21                   0.250000
22                   0.416667
23                   0.353141
24                   0.428571
25                   0.442581
26                   0.448276
27                   0.373832
28                   0.364985
29                   0.306569
30                   0.318182
...                       ...
49659                0.119403
49660                0.000000
49661                0.250000
49662                0.400000
49663                0.333333
49664                0.387755
49665                0.396226
49666                0.000000
49667                0.391542
49668                0.317204
49669                0.400000
49670                0.401709
49671                0.384615
49672                0.300000
49673                0.200000
49674                0.464286
49675                0.405405
49676                0.392857
49677                0.268456
49678                0.293860
49679                0.206522
49680                0.203343
49681                0.483871
49682                0.242857
49683                0.566696
49684                0.125000
49685                0.139535
49686                0.444444
49687                0.571429
49688                0.148649

[49677 rows x 1 columns]

In [5]:
p1 = p1.rename("order_time_cnt").reset_index().groupby('product_id')['order_time_cnt'].apply(lambda x: 0.0 if x.shape[0]==1 else x.values[1]/x.values[0])

In [11]:
product.head()

   order_id  product_id  reordered  user_id  order_number  order_time
0   2539329         196          0        1             1           0
1   2539329       12427          0        1             1           0
2   2539329       14084          0        1             1           0
3   2539329       26088          0        1             1           0
4   2539329       26405          0        1             1           0

In [10]:
first_order = lambda x: x.count()-x.sum()

In [12]:
p2 = product[['product_id', 'reordered']]
p2.groupby(by='product_id').agg({'reordered': {'total_count': 'count', 'first_order': first_order}})

             reordered
           first_order total_count
product_id
1                  716        1852
2                   78          90
3                   74         277
4                  182         329
5                    6          15
6                    5           8
7                   18          30
8                   82         165
9                   74         156
10                1268        2572
11                  45         104
12                 120         246
13                   6           9
14                  15          17
15                   3           4
16                  17          19
17                  16          18
18                  55         137
19                   4           4
20                   5           6
21                   8          10
22                  24          43
23                 589        1068
24                   7          13
25                 775        2166
26                  87         334
27                 107         184
28                 337         706
29                 137         218
30                  44          81
...                ...         ...
49659              201         256
49660                6           6
49661                4          13
49662               15          26
49663                9          12
49664               98         188
49665               53         106
49666                5           5
49667              733        1611
49668              186         378
49669                5           7
49670              117         229
49671               26          65
49672               10          14
49673               15          26
49674               28          88
49675               37          75
49676               28          50
49677              149         221
49678              228         377
49679               92         132
49680              718        1018
49681               31          70
49682               70         108
49683            30002       97315
49684                8           9
49685               43          49
49686               36         120
49687                7          13
49688               74          89

[49677 rows x 2 columns]

In [15]:
avg_reorder_ratio = lambda x: x.count()/x[x==0].count()

p2 = product[['product_id', 'reordered']]
p2 = p2.groupby(by='product_id').agg({'reordered': {'avg_reorder_ratio': avg_reorder_ratio}})

In [18]:
p2.reset_index(drop=True)

      product_id         reordered
                 avg_reorder_ratio
0              1          2.586592
1              2          1.153846
2              3          3.743243
3              4          1.807692
4              5          2.500000
5              6          1.600000
6              7          1.666667
7              8          2.012195
8              9          2.108108
9             10          2.028391
10            11          2.311111
11            12          2.050000
12            13          1.500000
13            14          1.133333
14            15          1.333333
15            16          1.117647
16            17          1.125000
17            18          2.490909
18            19          1.000000
19            20          1.200000
20            21          1.250000
21            22          1.791667
22            23          1.813243
23            24          1.857143
24            25          2.794839
25            26          3.839080
26            27          1.719626
27            28          2.094955
28            29          1.591241
29            30          1.840909
...          ...               ...
49647      49659          1.273632
49648      49660          1.000000
49649      49661          3.250000
49650      49662          1.733333
49651      49663          1.333333
49652      49664          1.918367
49653      49665          2.000000
49654      49666          1.000000
49655      49667          2.197817
49656      49668          2.032258
49657      49669          1.400000
49658      49670          1.957265
49659      49671          2.500000
49660      49672          1.400000
49661      49673          1.733333
49662      49674          3.142857
49663      49675          2.027027
49664      49676          1.785714
49665      49677          1.483221
49666      49678          1.653509
49667      49679          1.434783
49668      49680          1.417827
49669      49681          2.258065
49670      49682          1.542857
49671      49683          3.243617
49672      49684          1.125000
49673      49685          1.139535
49674      49686          3.333333
49675      49687          1.857143
49676      49688          1.202703

[49677 rows x 2 columns]

In [14]:
a.count(lambda x: x==1)

AttributeError: 'RangeIndex' object has no attribute 'levels'